.foo
{
background-color: setc(body);
color: setc(footer);
height: $units * 16;

    h4
    {
        font-family: $font-title;
        font-weight: 200;
        width: $pourcent * 10;
        padding: $units * 1.5;
    }
    &__liste
    {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
        gap: $units;
        padding: 0px 5px 5px 15px;
        list-style-type: none;
        &__elm
        {
            font-weight: 100;
            font-size: small;
            width: $pourcent * 9;
            &__lien
            {
                color: setc(footer);
            }
            &__contain
                {
                    display: flex;
                    flex-direction: row;
                    &__fas
                    {
                        font-weight: 100;
                    }
                    &__text
                    {
                        margin-left: $units;
                    }
                }
        }
        @media (min-width: 768px)
        {
            align-items: center;
        } 
    }
}