#foo-display
{
    animation: display 3400ms ease-out 0s normal both;
}
.foo
{
    @include flex(column, nowrap, flex-start, flex-start);background-color: setc(body);
    color: setc(footer);
    height: 100%;
    @include mediaq
    {
        text-align: center;
        font-size: x-large;
    }

    h4
    {
        font-family: $font-title;
        font-weight: 200;
        width: $pourcent * 9;
        padding: $units * 1.5;
        @include mediaq
        {
            font-size: xx-large; 
            width: $pourcent * 9.7;
        } 
    }
    &__liste
    {
        @include flex(column, nowrap, space-around, flex-start);
        gap: $units;
        padding: 0px 5px 25px 15px;
        list-style-type: none;
        @include mediaq
        {
            @include flex(row, nowrap, center, center);
            width: $pourcent * 8;
            margin: auto;
            padding-bottom: $units * 4;
        } 
        &__elm
        {
            font-weight: 100;
            font-size: small;
            width: $pourcent * 9;
            @include mediaq
            {
                font-size: medium;
                padding-top: $units * 0.5;
            }

            &__lien
            {
                color: setc(footer);
            }
            &__contain
                {
                    @include flex(row, nowrap, flex-start, center);
                    &__text
                    {
                        margin-left: $units;
                    }
                }
        }
        
    }
    
}