/*header*/

.header
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: $units;
    margin-bottom: $units * 5;
    font-family: $font-primary;
    &__h1
    {
        font-family: $font-title;
    }

    &__search
    {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: $pourcent * 10;
    height: $units * 5;
    background-color: setc(bc);
    margin-top: $units, 2;
    border-top: 2px solid $bord10;
        &__icon
            {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: $units * 3;
                height: $units * 3;
                border: none;
            } 
            &__input{
                width: $pourcent * 5;
                border: none;
                margin-left: $units;
                background-color: setc(bc);
                font-family: $font-primary;
                
                    &__::focus-visible
                    {
                        outline: none;
                    }
            } 
    }
    &__presentation
    {
            text-align: center;
            margin-top: $units * 2;
            &__title
            {
                font-size: $units * 2;
                width: $pourcent * 10;
            }
            &__text
            {
                width: $pourcent * 10;
                font-size: small;
                margin-top: $units;
            }
    }
    &__button
    {
        margin-top: $units * 2;
        
       &__style
       {
        @include button;
        &:focus
    {
        color: setc(footer);
    }
       }
    }
}