
/*header et loader*/
.header
{
    @include flex(column, nowrap, center, center);
    text-align: center;
    margin-top: $units;
    margin-bottom: $units * 5;
    z-index: 1;
    &__spinner
    {
        width: $pourcent * 10;
        height: $pourcent * 10;
        background-color: setc(body);
        position: absolute;
        top: 0;
        z-index: 1;
        animation: loader 3500ms ease-in-out 100ms forwards;

        &__contain
        {
            @include flex(column, nowrap, center, center);
            align-content: center;
            height: $pourcent * 10;
            margin: auto;
            &__bell
            {
                font-weight: 900;
                font-size: $units * 8;
                background-color: setc(body);
                border-radius: $units * 15;
                width: $units * 25;
                height: $units * 25;
                position: absolute;
                z-index: 2;
                color: setc(body);
                text-shadow: -1px 5px 5px #9356dc, 0px -2px 5px #ff79da, 1px 10px 5px #99e2d0;
            }
            &__cercle
            {
                background: linear-gradient(100deg, #9256dc, #ff79da, #99e2d0);
                border-radius: $units * 20;
                width: $units * 25.5;
                height: $units * 24.1;
                margin: auto;
                animation: turn 1s linear 0ms infinite;
                position: absolute;
                z-index: 1;
                @keyframes turn 
                {
                    0%
                    {
                        transform: rotate(0deg);
                    }
                    100%
                    {
                        transform: rotate(360deg);
                    }
                }
            }
            span
            {
                color: black;
                text-shadow:  3px 3px #9356dc, 3px 0px 3px #ff79da, 3px 4px 6px #99e2d0;
                font-size: $units * 3.5;
                font-family: $font-title;
                font-weight: 900;
                z-index: 3;
                text-align: center;
                margin-top: $units * 6;
            }
        }
    }
    h1
    {
        @include header-logo;
    }
    &__search
    {
    @include flex(row, nowrap, center, center);
    width: $pourcent * 10;
    height: $units * 5;
    background-color: setc(bc);
    margin-top: $units * 2;
    border-top: 2px solid setc(bord10);
        &__icon
            {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: $units * 3;
                height: $units * 3;
                border: none;
            } 
            &__input
            {
                width: auto;
                border: none;
                margin-left: $units;
                background-color: setc(bc);
                font-family: $font-primary;
                &:focus::placeholder
                {
                    color: setc(footer);
                    
                }
                @include mediaq
                {
                    font-size: large;
                } 
            } 
    }
    &__presentation
    {
            text-align: center;
            margin-top: $units * 3.5;
            &__title
            {
                font-size: $units * 2.4;
                width: $pourcent * 10;
            }
            &__text
            {
                width: $pourcent * 10;
                font-size: $units * 1.8;
                margin-top: $units;
            }
    }
    &__button
    {
        margin-top: $units * 2.5;
       &__style
       {
        @include button;
       }    
    }
}