/*header*/

.header
{
    @include flex(column, nowrap, center, center);
    text-align: center;
    margin-top: $units;
    margin-bottom: $units * 5;
    
    z-index: 1;
    &__spinner
    {
        width: $pourcent * 10;
        height: $units * 50;
        background: setc(bc);
        animation: spinner-bc 1s linear 2s infinite forwards;
        @keyframes spinner-bc {
            0% 
            {
                background: linear-gradient(0deg, rgba(147,86,220,1) 8%, rgba(255,121,218,1) 50%, rgba(153,226,208,1) 95%)
            }
            25%
            {
                background: linear-gradient(100deg, rgba(147,86,220,1) 8%, rgba(255,121,218,1) 50%, rgba(153,226,208,1) 95%)
            }
            50%
            {
                background: linear-gradient(200deg, rgba(147,86,220,1) 8%, rgba(255,121,218,1) 50%, rgba(153,226,208,1) 95%)
            }
            75%
            {
                background: linear-gradient(300deg, rgba(147,86,220,1) 8%, rgba(255,121,218,1) 50%, rgba(153,226,208,1) 95%)
            }
            100%
            {
                background: linear-gradient(360deg, rgba(147,86,220,1) 8%, rgba(255,121,218,1) 50%, rgba(153,226,208,1) 95%)
            }
        }
        &__contain
        {
            @include flex(column, nowrap, center, center);
            height: $pourcent * 10;
            gap: $units;
            top: 0px;
            left: 0px;
            z-index: 1000;
        
            &__bell1
            {
                @include spinner-ball(setc(primary),setc(tertiary));

            }
            &__ustensils
            {
                @include spinner-ball (setc(secondary), setc(primary));
            }
            &__bell2
            {
                @include spinner-ball (setc(tertiary), setc(secondary));
            }
        }
    }
    h1
    {
        @include header-logo;
    }

    &__search
    {
    @include flex(row, nowrap, center, center);
    width: $pourcent * 10;
    height: $units * 5;
    background-color: setc(bc);
    margin-top: $units * 2;
    border-top: 2px solid setc(bord10);
        &__icon
            {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: $units * 3;
                height: $units * 3;
                border: none;
            } 
            &__input
            {
                width: auto;
                border: none;
                margin-left: $units;
                background-color: setc(bc);
                font-family: $font-primary;
            } 
    }
    &__presentation
    {
            text-align: center;
            margin-top: $units * 3.5;
            &__title
            {
                font-size: $units * 2.4;
                width: $pourcent * 10;
            }
            &__text
            {
                width: $pourcent * 10;
                font-size: $units * 1.8;
                margin-top: $units;
            }
    }
    &__button
    {
        margin-top: $units * 2.5;
       &__style
       {
        @include button;
       }    
    }
}