.navigation
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: $units * 5.5;
    margin-left: $units * 1.5;
    font-weight: bold;
    font-size: $units * 2.4;
    @media (min-width: 768px)
        {
            align-items: center;
        }
    &__list
    {
        gap: $units * 1.5;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
        &__elm
        {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            @include box-shadow;
            border-radius: $units * 2;
            margin-top: $units * 2;
            gap: $units * 2;
            width: auto;
            min-width: $units * 25;
            height: $units * 7.5;
            background-color: setc(bc);
            font-size: medium;
            padding-right: 20px;
            &:hover
            {
                background-color: $lightp;
                i
                {
                    color: setc(primary);
                }
            }
                &__chiffre
                {
                background-color: setc(primary);
                position: absolute;
                margin-left: -$units * 1.3;
                text-align: center;
                font-size: small;
                color: setc(footer);
                width: $units * 2;
                height: $units * 2;
                border: 1px solid setc(primary);
                border-radius: $pourcent * 5;
                max-width: $units * 2;
                line-height: $units * 2;
                }
                    &__icon
                    {
                        margin-left: $units * 2.5;
                    }
                        &__p
                        {
                            padding-right: $units;
                        }  
        }
    }  
}
.principal
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $pourcent * 0.5;
    background-color: setc(bc);
    margin-top: $units * 2;
    width: auto;
    padding-bottom: $units * 2;
    &__title
    {
        align-self: start;
        margin: 25px 0px 0px 15px;
        padding-bottom: $units * 2.8;
        font-size: x-large;
        font-weight: bolder;
        @media (min-width: 768px)
            {
                align-self: center;
            }
    }
    &__conteneur
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: $pourcent * 10;
        gap: $units;
        &__card
        { 
            @include card;
            position:relative;
            &__nouv
            {
                &__text
                {
                position: absolute;
                font-weight: bold;
                top: $units;
                right: $units;
                width: $units * 7;
                height: $units * 3;
                text-align: center;
                line-height: $units * 2.7;
                background-color: setc(tertiary);
                color: darken($color: setc(tertiary), $amount: 40);
                font-size: small;
                }
                &__text3
                {
                    padding-right: 30px;
                }
                    &__img
                    {
                        @include card-img; 
                    }
            }
            &__img
            {
                @include card-img;
            }
            &__text
            {
                height: $pourcent * 2;
                margin: $units * 1.5;
                gap: $units;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                position: relative;
                &__anim
                {
                    position: relative;
                    :hover + .fas
                        {
                            background:-webkit-linear-gradient(bottom, #9356dc 30%, #ff79da 70%);
                            background-clip: text;
                            -webkit-background-clip: text;
                            color: transparent;
                            opacity: 1;
                            transform: scale(1.1);
                        }
                        .far
                        {
                            position: absolute;
                            transition: 300ms;
                            width: $units * 3;
                            right: 10px;
                            top: -55px;
                            font-size: $units * 3;
                            opacity: 1;
                            :hover
                            {
                                opacity: 0;
                                color: transparent;
                                transform: scale(0.5);
                            }
                        }
                        .fas
                        {
                            position: absolute;
                            width: $units * 3;
                            right: 10px;
                            top: -55px;
                            font-size: $units * 3;
                            opacity: 0;
                            transition: transform ease 500ms;
                            transform: scale(0.1);
                        }
                    
                    }
                }

            } 
        }
        
        
    }

