.header-menu
{ 
    text-align: center;
    &__arrow
    {
        position: absolute;
        top: $units * 2;
        left: $units * 2;
        font-weight: 900;
        font-size: larger;
    }
    h1
    {
        @include header-logo;
    }
}
.resto
{
    font-family: $font-primary;
    background-color: setc(bc);
    padding-bottom: $units * 4;
    &-image
    {
        object-fit: cover;
        width: $pourcent * 10;
        height: $units * 25;
    }
    &-title
    {
        border-top-left-radius: $units * 2.5;
        border-top-right-radius: $units * 2.5;
        background-color: setc(bc);
        margin-top: -$units * 2.5;
        padding-top: $units * 2;
        position: relative;
        height: $units * 6;
        @include flex(row, nowrap, space-around, center);
        @include mediaq
        {
            justify-content: center;
        }
        h2
        {
            font-family: $font-title;
            font-size: $units * 2.5;
            font-weight: 700;
            padding-right: $units * 1.5;
            padding-bottom: $units;
        }
        &__anim
        {
            @include heart;
            top: $units * 4;
            @include mediaq
            {
                left: $units * 6;
            }
        }
    }
    &-container
    {
        @include flex(column, nowrap, space-around, flex-start);
        padding-left: $units * 1.5;
        background-color: setc(bc);
        @include mediaq
        {
            @include flex(row, wrap, space-evenly, stretch);
            margin: auto;
        }
    } 
}
.menu
{
    width: $pourcent * 9.5;
    padding-top: $units * 2;
    opacity: 0;
    @include mediaq
        {
            width: $pourcent * 3;
            min-width: $units * 35;
        }
    h3
    {
        padding-bottom: $units;
        position: relative;
        &::after
        {
            content: "";
            position: absolute;
            left: 0px;
            bottom: 0.5px;
            width: $units * 4;
            height: $units * 0.4;
            background-color: setc(tertiary);
        }
    }
    &__liste
    {
        &__item
        {
            width: $pourcent * 10;
            height: $units * 7;
            margin-top: $units * 1.5;
            margin-bottom: $units * 0.5;
            background-color: setc(footer);
            border-radius: $units * 1.5;
            @include flex(row, nowrap, flex-start, center);
            @include box-shadow;
            overflow: hidden;
            cursor: pointer;
            &:hover
            { 
                @include hover;
            }
            &__texte
            {
                width: $pourcent * 10;
                padding-left: $units;
                overflow: hidden;
                &__txp
                {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-weight: 900;
                    font-size: 16px;
                }
                &__txo
                {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 14px;
                } 
            }
            b
            {
                font-weight: 500;
                font-size: $units * 1.6;
                align-self: flex-end;
                margin-right: -$units * 5;
                padding-bottom: $units;
            }   
            &__circle
            {
                width: $units * 6.5;
                height: $units * 7;
                border-radius: 0px 15px 15px 0px;
                background-color: setc(tertiary);
                position: relative;
                right: -$units * 6.1;
                @include flex(row, nowrap, space-around, center);
                i
                {
                    color: transparent;
                    font-size: $units * 2;
                }
            } 
        }
    }
    
} 
.menu1
{
    animation: slow 1000ms linear 0ms forwards 1 normal;
} 
.menu2
{
    animation: slow 1000ms linear 1000ms forwards 1 normal;
} 
.menu3
{
    animation: slow 1000ms linear 2000ms forwards 1 normal;
}  
.button
{
    @include button;
    background-color: setc(bc);
    margin: 30px auto;
    text-align: center;
}
