.header-menu
{ 
    text-align: center;
    &__arrow
    {
        position: absolute;
        top: $units * 2;
        left: $units * 2;
        font-weight: 900;
        font-size: larger;
    }
    h1
    {
        @include header-logo;
    }
}
.resto
{
    font-family: $font-primary;
    background-color: setc(bc);
    padding-bottom: $units * 4;
    &-image
    {
        object-fit: cover;
        width: $pourcent * 10;
        height: $units * 25;
    }
    &-title
    {
        border-top-left-radius: $units * 2.5;
        border-top-right-radius: $units * 2.5;
        background-color: setc(bc);
        margin-top: -$units * 2.5;
        position: relative;
        height: $units * 6;
        @include flex(row, nowrap, space-around, center);
        @include mediaq
        {
            justify-content: center;
        }
        h2
        {
            font-family: $font-title;
            font-size: x-large;
            font-weight: 700;
        }
        &__anim
        {
            @include heart;
            top: $units * 4;
            @include mediaq
            {
                left: $units * 6;
            }
        }
    }
    &-container
    {
        @include flex(column, nowrap, space-around, center);
        width: $pourcent * 9.5;
        margin-left: 2%;
        gap: 2%;
        background-color: setc(bc);
        @include mediaq
        {
            @include flex(row, wrap, space-evenly, stretch);
        }
    }
    
}
.menu
{
    padding-top: $units * 2;
    padding-bottom: $units * 2;
    opacity: 0;
    @include mediaq
        {
            width: $pourcent * 3;
            min-width: $units * 32;
        }
  
    h3
    {
        margin-bottom: $units * 2;
        padding-bottom: $units;
        position: relative;
        &::after
        {
            content: "";
            position: absolute;
            left: 0px;
            bottom: 0.5px;
            width: $units * 4;
            height: $units * 0.4;
            background-color: setc(tertiary);
        }
    }
    &__liste
    {
        @include flex(column, nowrap, center, center);
        gap: $units;
        max-width: $units * 35;
        &__item
        {
            max-width: $units * 34;
            width: $pourcent * 10;
            height: $units * 7;
            margin: auto;
            background-color: setc(footer);
            border-radius: $units * 1.5;
            @include flex(row, nowrap, space-around, center);
            @include box-shadow;
            overflow: hidden;
            cursor: pointer;
            &:hover
            { 
                @include hover;
            }
            &__texte
            {
                
                width: $pourcent * 8; 
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                padding: $units;
                font-size: 14px;
                @include flex(column, nowrap, center, flex-start);
                &__txp
                {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: $pourcent * 10;
                    font-weight: 900;
                }
                &__txo
                {
                    
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: $pourcent * 10;
                }  
            }
            &__anim
            {
                @include flex(row, nowrap, space-evenly, center);
                b
                {
                    font-weight: 500;
                    margin-left: $units * 1.5;
                    position: relative;
                    right: -34px;
                }
                    &__circle
                    {
                        width: $units * 4;
                        height: $units * 7;
                        border-radius: 0px 15px 15px 0px;
                        background-color: setc(tertiary);
                        position: relative;
                        right: -54px;
                        @include flex(row, nowrap, space-around, center);
                        @include mediaq
                        {
                            right: -60px; 
                        }
                        i
                        {
                            color: transparent;
                            font-size: $units * 2;
                        }
                    }
            } 
        }
    }
    
} 
.menu1
{
    
    animation: slow 1000ms linear 0ms forwards 1 normal;
} 
.menu2
{
    animation: slow 1000ms linear 1000ms forwards 1 normal;
} 
.menu3
{
    animation: slow 1000ms linear 2000ms forwards 1 normal;
}  
.button
{
    @include button;
    background-color: setc(bc);
    margin: 70px auto;
    text-align: center;
}
