@charset 'utf-8';
//fonts
$font-primary: 'Roboto', arial, sans-serif;
$font-title: 'Shrikhand', arial, sans-serif;
/*normalisation navigateurs et mise en forme du site*/
body
{
    font-family:$font-primary;
    position: relative;
    max-width: $units * 140;
    margin: auto;
}
*, *:before, *:after 
{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
input:focus,
select:focus,
textarea:focus,
button:focus,
a
{
    outline: none;
    text-decoration: none;
    color: setc(body);
    cursor: pointer;
}
