@font-face 
{
font-family: '2dumbregular';
src: url('police_cv/2Dumb-webfont.eot');
src: url('2Dumb-webfont.eot?#iefix') format('embedded-opentype'),
         url('police_cv/2Dumb-webfont.woff2') format('woff2'),
         url('police_cv/2Dumb-webfont.woff') format('woff'),
         url('police_cv/2Dumb-webfont.ttf') format('truetype'),
         url('police_cv/2Dumb-webfont.svg#2dumbregular') format('svg');
font-weight: normal;
font-style: bold;
font-size: small;
}
.ma-photo
{
    width: 60px;
    height: 75px;
}
#photo
{
    float: left;
}
h1
{
    text-align: center;
    border:2px rgb(26, 27, 27) solid;
    background-color: slategrey;
}
body
{

font-family: '2dumbregular'
}
#liseret
{
    float: left;
    width: 300px;
    height: 300px;
    border:2px midnightblue inset;
    border-radius: 10px;
    background-color:rgba(235, 156, 183, 0.548);
    margin: 3px;
    padding: 3px;

}
#conteneur
{
    float: left;
}

.enveloppe
{
display: flex;
margin: auto;
flex-flow: row nowrap;
justify-content: flex-end;
align-items: flex-start;
height: 100%;
width: 70%; 
gap: 3%;


}
.element
{
    background-color: silver;
    border-radius: 3%;
    margin: auto;
    padding: 2%;
}