/*minireset */
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3 ,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}bouton, input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100% }iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}
/*box-sizing */
*, *:before, *:after 
{ 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
}
html
{
    max-width: 1400px;
    margin: auto;
}
h1
{
    font-size: medium;
    font-weight: bold; 
}
/*style en-tète*/
#header-entete
{
    font-family:"Raleway", Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-around;
    max-width: 99%;
    padding-left: 2%;  
}
#header-entete .logo
{
    padding-right: 48%; 
    padding-bottom: 2%;
}
#header-entete #nav
{
 padding-top: 2%;
 padding-right: 2%; 
}
#header-entete #nav #menu
{
    display: flex;  
    height: 40px;
    gap: 5%;
    color: #0065fc; 
}
#header-entete #nav #menu li:hover
{
    border-top: 1px solid #0065fc;
    padding-top: 2%;
}
#header-entete #annonce_sous_logo
{
    padding-right: 60%;  
    padding-bottom: 2%;
}
#header-entete .texte_divers
{
    font-weight: normal;
    font-size: x-small;
}
#header-entete #ville
{
    width: 46%;
}
#header-entete #ville .zonerechercher
{
   border: 1px solid #F2F2F2;
   height: 40px; 
}
#header-entete #ville .zonerechercher:hover
{
    border: solid #0065fc;
}
#header-entete #ville .zonerechercher:focus
{
    height: 40px;
    border: solid #0065fc;
}
#header-entete #ville .bouton_recherche
{
    font-size: 16px;
    height: 40px;
    color: #F2F2F2;
    background-color: #0065fc;
    cursor: pointer;
    border-radius: 0px 15px 15px 0px;
}
#header-entete #ville .bouton_recherche:hover
{
    background-color: #F2F2F2;
    border-color: #0065fc;
    color: #0065fc;
}
#header-entete #ville .loupe
{
    display: none;
    position: absolute;
    left: 208px;
    opacity: 1;
    color: white;
    padding: 12px ;
    background-color: #0065fc;
    border-radius: 0 15px 15px 0;
}
#header-entete .barre_filtre
{
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-direction: row;
    margin-top: 2%;
    gap: 2%;
    width: 65%; 
}
#header-entete .barre_filtre #filtres
{
    padding-right: 2%;
    padding-top: 1%;
    font-weight: bold;
}
#header-entete .barre_filtre .filtre
{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 90%;
    height: 37px;
}
#header-entete .barre_filtre .texte_filtre
{
    font-size: small;
    text-align: center;
    border: 2px solid #d9d9d9;
    width: 85%;
    border-radius: 15px;
    padding-top: 4%;
    margin-left: 12%;
    margin-top: 2%;
    padding-left: 6%;
    padding-right: 10%;
    font-weight: bold;
}
#header-entete .barre_filtre .icone_filtre
{
    color: #0065fc;
    background-color: #deebff;
    position: absolute;
    opacity: 1;
    padding: 0;
    border:2px solid #deebff;
    border-radius:50%;
    width: 40px;
    height: 40px;
}
#header-entete .barre_filtre .icone_filtre:hover
{
    background-color: #0065fc;
    border:2px solid #0065fc;
    color: #deebff;
}
#header-entete .barre_filtre .texte_filtre:hover
{
   background-color: #0065fc; 
}
#header-entete  #info_sous_filtre
{
    width: 100%;
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    gap: 2%;
    font-size: small;
}
#header-entete  .bouton_info
{
    color: #0065fc;
    border-color: 2px #d9d9d9;
    border-radius:50%;
    width: 20px;
    height: 20px;
}
/*fin style header*/


