/*minireset */
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3 ,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}bouton, input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100% }iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}
/*box-sizing */
*, *:before, *:after 
{ 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
}
html
{
    max-width: 992px;
    margin: auto;
}
h1
{
    font-size: medium;
    font-weight: bold; 
}
h6
{
    font-weight: normal;
    font-size: x-small;
}
header
{
    font-family:"Raleway", Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-around;
    max-width: 95%;
    margin-left: 2%;  
}
.logo
{
    padding-right: 50%; 
    padding-bottom: 2%;
}
#nav
{
 padding-top: 2%; 
}
#menu
{
    display: flex;   
}
ul
{
    gap: 5%;
    color: #0065fc;
}
li:hover
{
    border-top: 1px solid #0065fc;
}
#annonce_sous_logo
{
    padding-right: 60%;  
    padding-bottom: 2%;
}
.zonerechercher
{
   border: #F2F2F2 solid 1px; 
}
.zonerechercher:focus
{
    height: 25px;
    border: solid #0065fc;
}
.bouton_recherche
{
    font-size: 16px;
    color: #F2F2F2;
    background-color: #0065fc;
    cursor: pointer;
    border-radius: 0px 15px 15px 0px;
}
.bouton_recherche:hover
{
    background-color: #F2F2F2;
    border-color: #0065fc;
    color: #0065fc;
}
.loupe
{
    display: none;
    position: absolute;
    left: 208px;
    opacity: 1;
    color: white;
    padding: 12px ;
    background-color: #0065fc;
    border-radius: 0 15px 15px 0;
}
.barre_filtre
{
    display: flex;
    flex-basis: 80%;
    flex-direction: row;
    margin-top: 2%;
}


