/*minireset */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 
{
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 
{
    font-size: 100%;
    font-weight: normal;
}
ul 
{
    list-style: none
}
button, input, select 
{
    margin: 0;
}
html 
{
    box-sizing: border-box;
}
*, *::before, *::after 
{
    box-sizing: inherit;
}
iframe 
{
    border: 0;
}
table 
{
    border-collapse: collapse;
    border-spacing: 0;
}
td, th 
{
    padding: 0;
}
a
{ 
    text-decoration:none; 
    color: #000000;
    cursor: pointer;
}

/*box-sizing */
*, *:before, *:after 
{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/*mesures générales*/
body
{
    width: 100%;
    height: 1400px;
    max-height: 100%;
}
.max-width
{
    margin: auto;
    max-width: 1400px;
}
h1 
{
    font-size: medium;
    font-weight: bold;
}
h2, h3 
{
    font-weight: bold;
}
input
{
    outline: none;
}
/*style en-tète*/
#header-entete .logo
{
    Width: 60%;
}
#header-entete 
{
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    color: #000000;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-around;
    height: 20%;
    padding-left: 6px;
}
/*menu navigation*/
#header-entete #nav 
{
    padding-top: 30px;
    padding-right: 30px;
    width: 25%;
}
#header-entete #nav #menu 
{
    display: flex;
    height: 40px;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 20%;
}
#header-entete #nav #menu li a
{
    color: #000000;
    padding-top: 25px;
    text-decoration: none;
}
#header-entete #nav #menu li a:hover
{
    color: #0065fc;
    border-top: 3px solid #0065fc;
}
/*annonce sous logo en desktop*/
#header-entete #annonce-sous-logo 
{
    width: 100%;
}
#header-entete .texte-divers 
{
    font-weight: normal;
    font-size: x-small;
}
/*barre de recherche*/
#header-entete #ville 
{
    width: 100%;
    padding-top: 5px;
}
#header-entete #ville .geolocalisation
{
    background-color: #f2f2f2;
    width: 40px;
    height: 40px;
    border-radius: 10px 0 0 10px;
    border: none;
    margin-right: -1%;
}
#header-entete #ville .zonerechercher 
{
    border: 1px solid #F2F2F2;
    height: 40px;
    margin: -1px;
}
#header-entete #ville .zonerechercher::placeholder
{
    color: #000000;
    padding-left: 2px;
    font-weight: bold;
    width: auto;
}
#header-entete #ville .zonerechercher:hover 
{
    border: 1px solid #0065fc;
}
#header-entete #ville .zonerechercher:focus::placeholder 
{
    height: 40px;
    color: #ffffff;
}
#header-entete #ville .bouton-recherche 
{
    font-size: 16px;
    height: 40px;
    color: #F2F2F2;
    background-color: #0065fc;
    cursor: pointer;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid #0065fc;
    margin-left: -4px;
    padding-bottom: 2px;
}
#header-entete #ville .bouton-recherche:hover 
{
    background-color: #F2F2F2;
    border: 4px solid #0065fc;
    color: #0065fc;
}
/*loupe pour petit écran*/
#header-entete #ville .loupe 
{
    display: none;
    position: absolute;
    left: 208px;
    opacity: 1;
    color: white;
    padding: 11px;
    background-color: #0065fc;
    border-radius: 0 15px 15px 0;
}
/*barre des filtres*/
#header-entete .barre-filtre 
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    width: 100%;
}
#header-entete .barre-filtre #filtres 
{
    margin-top: 15px;
    margin-right: 15px;
    font-weight: bold;
}
#header-entete .barre-filtre .englobe-filtre
{
    display: flex;
    text-align: center;
}
#header-entete .barre-filtre .englobe-filtre .filtre 
{
    width: auto;
    white-space: nowrap;
    margin-top: 20px;
    margin-right: 80px;
}
#header-entete .barre-filtre .englobe-filtre .texte-filtre 
{
    color: #000000;
    font-size: medium;
    font-weight: bold;
    border-top: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
    border-right: 2px solid #f2f2f2;
    border-radius: 0 20px 20px 0;
    width: 130%;
    height: 40px;
    display: inline-block;
    padding: 7.5px 10px;
    margin-left: -17px;
    cursor: pointer;
}
#header-entete .barre-filtre .englobe-filtre .icone-filtre 
{
    color: #0065fc;
    background-color: #deebff;
    border: 2px solid #deebff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: inline-block;
}
#header-entete .barre-filtre .englobe-filtre .icone-filtre:hover 
{
    border: 2px solid #0065fc;
    color: #0065fc;
}
#header-entete .barre-filtre .englobe-filtre .texte-filtre:hover 
{
    background-color: #deebff;
    color: #0065fc;
    border-top: 2px solid #0065fc;
    border-bottom: 2px solid #0065fc;
    border-right: 2px solid #0065fc;
}
#header-entete #info-sous-filtre 
{
    width: 50%;
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    gap: 2%;
    font-size: small;
}
#header-entete .bouton-info 
{
    color: #0065fc;
    border: 2px #d9d9d9;
    background-color: #ffff;
    border-radius: 50%;
    width: 4%;
    height: 20px;
    padding-bottom: 4px;
}
/*fin style header*/
/*main*/
#main 
{
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}
/*conteneur hébergements et populaire*/
#main #hebergements-populaires 
{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    max-height: 525px;
    gap: 2%;
    margin-top: 25px;
}
/*hébergements à Marseille*/
#main #hebergements-populaires #hebergement-marseille 
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    height: 100%;
    margin: 0 auto;
    background-color: #f2f2f2;
    border-radius: 15px;
}
#main #hebergements-populaires #hebergement-marseille #hebergement-texte 
{
    height: 5%;
    padding: 15px;
    margin-left: 20px;
}
#main #hebergements-populaires #hebergement-marseille .card-conteneur 
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 96%;
    height: 90%;
    padding: 0;
    margin: auto;
}
#main #hebergements-populaires #hebergement-marseille .card-conteneur .card .card-link
{
    display: block;
    width: 96%;
    height: 100%;
}
#main #hebergements-populaires #hebergement-marseille .card-conteneur .card
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 4px 0;
    background-color: #ffff;
    width: 30%;
    max-height: 200px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #c7c7c7c2;
}
#main #hebergements-populaires #hebergement-marseille .card-conteneur .card:hover
{
    background-color: #DEEBFF;
    border: 2px solid #0065fc;
}
#main #hebergements-populaires #hebergement-marseille .card-conteneur .card .photo-hebergement 
{
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    margin: 6px 6px 0px 6px;
    overflow: hidden;
}
#main #hebergements-populaires #hebergement-marseille .card-conteneur .card .texte-sous-photo 
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: 10px;
    width: 75%;
    height: 32%;
    font-size: small;
}
#main #hebergements-populaires #hebergement-marseille .card-conteneur .card .texte-sous-photo .prix 
{
    font-weight: bold;
}
#main #hebergements-populaires #hebergement-marseille .card-conteneur .card .etoiles .fa-star 
{
    color: #0065fc;
}
#main #hebergements-populaires #hebergement-marseille .card-conteneur .card .etoiles .grey 
{
    color: #f2f2f2;
}
#main #hebergements-populaires #hebergement-marseille #plus 
{
    width: 98%;
    min-height: 5%;
    margin: 20px;
    font-weight: bold;
}
/*Les plus populaires*/
#main #hebergements-populaires #populaire
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #f2f2f2;
    border-radius: 15px;
    width: 30%;
    gap: 2%;
}
#main #hebergements-populaires #populaire #pop
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 15px 0 0 15px;
    margin: 0;
    gap: 50%;
}
#main #hebergements-populaires #populaire .card-conteneur
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 96%;
    height: 92%;
}
#main #hebergements-populaires #populaire .card-conteneur .card-link
{
    display: flex;
    width: 100%;
    height: 100%;
}
#main #hebergements-populaires #populaire .card-conteneur .card
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    background-color: #fff;
    width: 90%;
    max-height: 30%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #c7c7c7c2;
    margin-bottom: 15px;
}
#main #hebergements-populaires #populaire .card-conteneur .card:hover
{
    background-color: #DEEBFF;
    border: 2px solid #0065fc;
}
#main #hebergements-populaires #populaire .card-conteneur .card .photo-hebergement
{
    width: 60%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
    padding: 6px 0px 6px 6px;
    overflow: hidden;
}
#main #hebergements-populaires #populaire .card-conteneur .card .texte-sous-photo
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 40%;
    height: 90%;
    padding-left: 10px;
    font-size: small;
    align-items: flex-start;
    align-content: space-around;
}
#main #hebergements-populaires #populaire .card-conteneur .card .texte-sous-photo .prix 
{
    font-weight: bold;
}
#main #hebergements-populaires #populaire .card-conteneur .card .etoiles .fa-star 
{
    color: #0065fc;
    
}
#main #hebergements-populaires #populaire .card-conteneur .card .etoiles .grey 
{
    color: #f2f2f2;
}
/*activités à Marseille*/
#main #activites
{
    width: 100%;
    margin: 15px 0 10px 0;
}
#main #activites #activites-texte
{
    width: 100%;
    margin: 4px 0 10px 15px;
}
#main #activites #conteneur-activites
{
    display: flex;
    flex-direction: row;
    gap: 2%;
    height: 400px;
}
#main #activites #conteneur-activites .card-link
{
    display: block;
    width: 100%;
    height: 100%;
}
#main #activites #conteneur-activites .card 
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 25%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #c7c7c7c2
}
#main #activites #conteneur-activites .card:hover
{
    background-color: #DEEBFF;
    border: 2px solid #0065fc;
}
#main #activites #conteneur-activites .duo
{
    width: 25%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10%;
}
#main #activites #conteneur-activites .duo .card-duo
{
    width: 100%;
    height: 45%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #c7c7c7c2
}
#main #activites #conteneur-activites .duo .card-duo:hover
{
    background-color: #DEEBFF;
    border: 2px solid #0065fc;
}
#main #activites #conteneur-activites .duo #duocard1
{
    height: 53%;
}
#main #activites #conteneur-activites .duo #duocard2
{
    height: 37%;
}
#main #activites #conteneur-activites .duo #duocard2 .photo-hebergement
{
    height: 72%;
}
#main #activites #conteneur-activites .card .photo-hebergement
{
    object-fit: cover;
    width: 100%;
    height: 90%;
    border-radius: 15px 15px 0 0;
    
}
#main #activites #conteneur-activites .card .texte-sous-photo
{
    margin: 5px 5px 5px 20px;
}
#main #activites #conteneur-activites .duo .card-duo .texte-sous-photo
{
    margin: 5px 5px 5px 20px; 
}
#main #activites #conteneur-activites .duo .card-duo .photo-hebergement
{
    object-fit: cover;
    width: 100%;
    height: 80%;
    border-radius:  15px 15px 0 0;
}
/*footer*/
#footer
{
    background-color: #f2f2f2;
    height: 15%;
}
.footer
{
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 30px;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    justify-content: flex-start;
    gap: 15%;
    align-content: center;
}
.footer h3
{
    padding-bottom: 20px;
}
.footer a
{
    color: #000000;
}
.footer .footer-liste
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
}
@media (min-width: 769px) and (max-width: 991px)
{
    /*header version desktop/tablette*/
    body
    {
        height: 3200px;
    }
    #header-entete 
    {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
        width: 100%;
        height: 15%;
        max-width: 100%;
    }   
    #header-entete .logo
    {
        margin-inline: 200%;
    }
    #header-entete #nav
    {
        width: 100%;
        padding-right: 0;
        padding-top: 0px;
    }
    #header-entete #nav #menu 
    {
        gap: 0%;
        justify-content: space-around;
    }
    #header-entete #nav #menu li
    {
        text-align: center;
        flex-basis: 50%;
        border-bottom: 4px solid #f2f2f2;
    }
    #header-entete #nav #menu li a:hover
    {
        border-top: none;
    }
    #header-entete #nav #menu li:hover 
    {
        padding-bottom: 2px;
        border-bottom: 4px solid #0065fc;
        width: 50%;
        color: #0065fc;
    }
    #header-entete #annonce-sous-logo 
    {
        padding: 0;
    }
    #header-entete #ville .bouton-recherche
    {
        display: none;
    }
    #header-entete #ville .loupe 
    {
        display: inline;
        border-radius: 10px;
        margin-left: -0.5%;
    }
    #header-entete .barre-filtre .englobe-filtre
    {
        flex-wrap: wrap;
        width: 90%;
        display: flex;
        justify-content: space-around;
    }
    #header-entete .barre-filtre .englobe-filtre .filtre 
    {
        width: auto;
    }
    #header-entete #info-sous-filtre
    {
        width: 100%;
    }
    /*main version desktop/tablette*/
    /*conteneur hébergements-populaire version desktop/tablette*/
    #main #hebergements-populaires 
    {
        flex-direction: column-reverse;
        width: 100%;
        max-width: 100%;
        max-height: 60%;
        flex-wrap: nowrap;
        align-items: center;
    }
    /*les + populaires version desktop/tablette*/
    #main #hebergements-populaires #populaire 
    {
        background-color: #f2f2f2;
        margin: auto;
        border-radius: 15px;
        width: 100%;
        height: 15%;
        gap: 1%;
        flex-wrap: nowrap;
        align-items: center;
    }
    #main #hebergements-populaires #populaire #pop 
    {
        width: 94%;
        gap: 81%;
        padding-bottom: 15px;
    }
    #main #hebergements-populaires #populaire .card-conteneur
    {
        height: 450px;
        width: 100%;
    }
    #main #hebergements-populaires #populaire .card-conteneur .card
    {
        width: 92%;
    }
    #main #hebergements-populaires #populaire .card-conteneur .card .texte-sous-photo
    {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        gap: 0%;
        width: 60%;
        height: 80%;
        padding-top: 2%;
        padding-left: 6%;
    }
    /*hébergements à Marseille version desktop/tablette*/
    #main #hebergements-populaires #hebergement-marseille 
    {
        background-color: white;
        width: 100%;
        height: 80%;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
    }
    #main #hebergements-populaires #hebergement-marseille #hebergement-texte
    {
        padding: 15px 0px 15px 15px;
        width: 94%;
        margin-left: 0;
    }
    #main #hebergements-populaires #hebergement-marseille .card-conteneur
    {
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        height: 100%;
        margin: 0;
        align-items: center;
    }
    #main #hebergements-populaires #hebergement-marseille .card-conteneur .card 
    {
        width: 92%;
        height: 200px;
        margin: 0 0 15px 0;
        justify-content: center;
    }
    #main #hebergements-populaires #hebergement-marseille .card-conteneur .card .card-link
    {
        width: 98%;
        padding: 4px 12px 5px 0px;
    }
    #main #hebergements-populaires #hebergement-marseille .card-conteneur .card .photo-hebergement
    {   
        height: 70%;
    }
    #main #hebergements-populaires #hebergement-marseille .card-conteneur .card .texte-sous-photo
    {
        justify-content: flex-start;
        height: 30%;
        padding-left: 10px;
    }
    #main #hebergements-populaires #hebergement-marseille .card-conteneur .card .texte-sous-photo .nom-hbg
    {
        padding: 0;
    }
    #main #hebergements-populaires #hebergement-marseille .card-conteneur .card .texte-sous-photo .nuit
    {
        padding: 0; 
    }
    #main #hebergements-populaires #hebergement-marseille .card-conteneur .card .texte-sous-photo .etoiles
    {
        margin: 0;
    }
    #main #hebergements-populaires #hebergement-marseille #plus
    {
        width: 94%;
        padding: 15px;
        margin: 0;
    }
    /*activités versions tablette*/
    #main #activites
    {
        margin: 0 0 70px 0;
    }
    #main #activites #activites-texte
    {
        width: 94%;
        padding: 15px;
    }
    #main #activites #conteneur-activites
    {
        flex-direction: column;
        width: 100%;
        height: 1250px;
        gap: 15px;
        align-items: center;
    }
    #main #activites #conteneur-activites .card 
    {
        width: 92%;
        height: 200px;
        margin-inline: auto;
        padding-bottom: 15px;
    }
    #main #activites #conteneur-activites .duo
    {
        width: 92%;
        height: 100%;
        gap: 15px;
    }
    #main #activites #conteneur-activites .duo .card-duo
    {
        width: 100%;
        height: 200px;
        margin-inline: auto;
        padding-bottom: 15px;
    }
    #main #activites #conteneur-activites .duo #duocard1 
    {
        height: 200px;
        padding-bottom: 15px;
    }

    #main #activites #conteneur-activites .duo #duocard2 
    {
        height: 200px;
        padding-bottom: 15px;
    }
    #main #activites #conteneur-activites .duo #duocard1 .photo-hebergement
    {
        height: 90%;
    }
    #main #activites #conteneur-activites .duo #duocard2 .photo-hebergement
    {
        height: 90%;
    }
    /*footer version tablette*/
    #footer
    {
        height: 15%;
    }
    .footer
    {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: space-around;
        padding: 15px;
        gap: 15px;
        height: 100%;
    }
}
@media (max-width: 768px)
{
    body
    {
        height: 3200px;
    }
    /*header version mobile*/

    #header-entete
    {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 100%;
        height: 16%;
        align-items: center;
        padding: 0;
        margin-bottom: 20px;
    }
    /*logo version mobile*/
    #header-entete .logo 
    {
        width: 100%;
        height: 70%;
        object-fit: cover;
        margin-bottom: -20px;
    }
    /*barre navigation version mobile*/
    #header-entete #nav
    {
        width: 100%;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 10px;
    }
    #header-entete #nav #menu 
    {
        gap: 0%;
        justify-content: space-around;
        height: 30px;
    }
    #header-entete #nav #menu li
    {
        text-align: center;
        flex-basis: 50%;
        font-size: 15px;
        border-bottom: 4px solid #f2f2f2;
    }
    #header-entete #nav #menu li a
    {
        padding-top: 0;
    }
    #header-entete #nav #menu li:hover 
    {
        padding-bottom: 2px;
        border-bottom: 4px solid #0065fc;
        width: 50%;
        border-top: none;
        color: #0065fc;
    }
    #header-entete #nav #menu li a:hover
    {
        border-top: none;
    }
    /*annonce sous menu version mobile*/
    #header-entete #annonce-sous-logo 
    {
        padding-left: 15px; 
    }
    #header-entete #annonce-sous-logo p
    {
        margin-top: 5px;
        font-size: small;
    }
    /*recherche ville version mobile*/
    #header-entete #ville 
    {
        padding-left: 15px;
        padding-top: 10px;
    }
    #header-entete #ville .bouton-recherche
    {
        display: none;
    }
    #header-entete #ville .loupe 
    {
        display: inline;
        border-radius: 10px
    }
    /*filtres version mobile*/
    #header-entete .barre-filtre #filtres
    {
        margin: 10px 0px 0px 15px;
    }
    #header-entete .barre-filtre .englobe-filtre
    {
        flex-wrap: wrap;
        padding-left: 15px;
    }
    #header-entete #info-sous-filtre 
    {
        width: 100%;
        padding-left: 15px;
    }
    /*main*/
    /*conteneur hébergements-populaire version mobile*/
    #main #hebergements-populaires 
    {
        flex-direction: column-reverse;
        width: 100%;
        max-width: 100%;
        flex-wrap: nowrap;
        align-items: center;
        margin-top: 10px;
        max-height: 100%;
    }
    /*les + populaire version mobile*/
    #main #hebergements-populaires #populaire 
    {
        background-color: #f2f2f2;
        margin: auto;
        border-radius: 15px;
        width: 100%;
        padding-bottom: 25px;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
    }
    #main #hebergements-populaires #populaire #pop 
    {
        width: 100%;
        gap: 0;
        padding: 15px 15px 5px 15px;
        justify-content: space-between;
    }
    #main #hebergements-populaires #populaire .card-conteneur
    {
        height: 450px;
    }
    #main #hebergements-populaires #populaire .card-conteneur .card
    {
        width: 96%;
        height: 150px;
        margin: auto;
    }
    #main #hebergements-populaires #populaire .card-conteneur .card .texte-sous-photo
    {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        gap: 0%;
        width: 60%;
        height: 80%;
        padding-top: 2%;
        padding-left: 6%;
    }
    /*hébergements à Marseille version mobile*/
    #main #hebergements-populaires #hebergement-marseille 
    {
        background-color: white;
        width: 100%;
        height: 100%;
        margin-top: 20px;
        flex-wrap: nowrap;
        align-content: center;
        align-items: flex-start;
    }
    #main #hebergements-populaires #hebergement-marseille #hebergement-texte
    {
        padding: 0 15px 15px 15px;
        margin-left: 0;
    }
    #main #hebergements-populaires #hebergement-marseille .card-conteneur
    {
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 3%;
        height: 100%;
        margin: 0;
    }
    #main #hebergements-populaires #hebergement-marseille .card-conteneur .card 
    {
        width: 96%;
        height: 180px;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        margin-inline: auto;

    }
    #main #hebergements-populaires #hebergement-marseille .card-conteneur .card .photo-hebergement
    {   
    padding: 10px 5px 0px 5px;
    margin: 0;
    height: 60%;
    width: 100%;
    }
    #main #hebergements-populaires #hebergement-marseille .card-conteneur .card .texte-sous-photo
    {
        justify-content: flex-start;
        height: 30%;
        font-size: small;
    }
    #main #hebergements-populaires #hebergement-marseille .card-conteneur .card .texte-sous-photo .nom-hbg
    {
        padding: 0;
    }
    #main #hebergements-populaires #hebergement-marseille .card-conteneur .card .texte-sous-photo .nuit
    {
        padding: 0; 
    }
    #main #hebergements-populaires #hebergement-marseille .card-conteneur .card .texte-sous-photo .etoiles
    {
        margin: 0;
    }
    /*activités version mobile*/
    #main #activites #activites-texte
    {
        width: 94%;
        padding: 15px;
        margin: 0;
    }
    #main #activites #conteneur-activites
    {
        flex-direction: column;
        width: 100%;
        height: 1250px;
        gap: 15px;
        align-items: center;
    }
    #main #activites #conteneur-activites .card 
    {
        width: 92%;
        height: 200px;
        margin-inline: auto;
        padding-bottom: 15px;
    }
    #main #activites #conteneur-activites .duo
    {
        width: 92%;
        height: 100%;
        gap: 15px;
    }
    #main #activites #conteneur-activites .duo .card-duo
    {
        width: 100%;
        height: 200px;
        margin-inline: auto;
        padding-bottom: 15px;
    }
    #main #activites #conteneur-activites .duo #duocard1 
    {
        height: 200px;
        padding-bottom: 15px;
    }
    #main #activites #conteneur-activites .duo #duocard2 
    {
        height: 200px;
        padding-bottom: 15px;
    }
    #main #activites #conteneur-activites .duo #duocard1 .photo-hebergement
    {
        height: 90%;
    }
    #main #activites #conteneur-activites .duo #duocard2 .photo-hebergement
    {
        height: 90%;
    }
    /*footer version mobile*/
    #footer
    {
        height: 13%;
    }
    .footer
    {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: space-around;
        padding: 15px 0 0 15px;
        margin-top: 40px;
        gap: 5px;
        height: 100%;
    }
}