
@mixin box-shadow 
{
    box-shadow: 10px 10px 20px $bord20; 
    &:hover,:focus
    {
        box-shadow: 10px 10px 20px $bord60; 
    }
}
@mixin spinner-ball($color)
{
    display: inline-flex;
    align-items: center;
    justify-content:center;
    border: 2px solid setc(bc);
    border-radius: $units * 5;
    width: $units * 8;
    height: $units * 8;
}
@mixin button
{
    width: $units * 21.8;
    height: $units * 5;
    border-radius: $units * 3;
    background: $linear;
    font-size: medium;
    border: none;
    &>a
    {
        color: setc(footer);
    }
    cursor:pointer;
    @include box-shadow;
    &:hover,
    :focus
    {
        filter: brightness(1.2);
    }
}
@mixin card($background-color: setc(footer))
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    border-radius: $units * 1.5;
    width: auto;
    background-color: setc(bc);
    @include box-shadow;
    margin-bottom: $pourcent * 0.5;

}
@mixin card-img 
{
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
    width: $units * 33.6;
    height: $units * 17.4;
}
