// mixin perso
@mixin box-shadow 
{
    box-shadow:2px 2px 10px $border; 
    -moz-box-shadow:2px 2px 10px $border;
    -webkit-box-shadow:2px 2px 10px $border;
}
@mixin spinner-ball($color: $primary-color)
{
    @include display-inline-flex;
    @include align-items-center;
    @include justify-content-center;
    border: 2px solid $color;
    border-radius: $units * 5;
    width: $units * 8;
    height: $units * 8;
}
@mixin card ($background-color: $footer-color)
{

    border-radius: $units * 5;
    width: $pourcent * 8;
}
@mixin card-img {
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
    width: 335px;
    height: 174px;
    overflow: hidden;
}