
//fonction qui permet d'appeler les couleurs dans une map sans écrire map-get
@function setc($key) 
{
    @if map-has-key($colors, $key) 
    {
        @return map-get($colors, $key);  
    }
      @warn "The key #{$key} is not in the map ’$colors’";
      @return null;
}
/*loader*/
@keyframes loader 
{
    0%
    {
        opacity: 1;
        transform: scale(1)
    }
    90%
    {
        opacity: 1;
        transform: scale(1)
    }
    
    94%
    {
        opacity: 0.8;
        transform: scale(1)
    }
    95%
    {
        opacity: 0.6;
        transform: scale(1)
    }
    96%
    {
        opacity: 0.5;
        transform: scale(1)
    }
    98%
    {
        opacity: 0.4;
        transform: scale(1)
    }
    100%
    {
        opacity: 0;
        transform: scale(0)
    }
}
/*loader cercle et icone et icone qui tourne check plats menus*/
@keyframes turn 
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
/*évite scroll au loader et apparition du site douce*/
@keyframes display {
    0%
    {
        overflow: hidden;
        height: 5px;
        opacity: 0;
        transform: scale(0);
    }
    80%
    {
        overflow: hidden;
        height: 5px;
        opacity: 0; 
        transform: scale(0);
    }
    90%
    {
        overflow: hidden;
        height: 5px;
        opacity: 0;
        transform: scale(0);
    }
    95%
    {
        overflow: hidden;
        height: 500px;
        opacity: 0.2;
        transform: scale(0.2);
    }
    100%
    {
        overflow: visible; 
        opacity: 1;
        height: 100%;
        transform: scale(1);
    }
}
/*animation button*/
@keyframes button 
{
    0%
    {
        background: $linear;
        filter: brightness(0.9);
    }
    100%
    {
        background: $linear2;
        filter: brightness(1.4);
    }
}

/*animation menus apparition*/
@keyframes slow
{
    0%
    {
        opacity: 0;
        transform: translatey(50%);
    }
    50%
    {
        opacity: 0.5;
        transform: translatey(20%);
    }
    100%
    {
        opacity: 1;
    }
} 
/*animation check menus*/
@keyframes check 
{
    0%
    {
        margin-right: 0px;
    }
    100%
    {
        margin-right: 60px;
    }
    
}


 