//color
$colors: 
(
primary: #9356dc,
secondary: #ff79da,
tertiary: #99e2d0,
body: #000000,
footer: #ffffff,
bc: #efefef,
bord10: #d6d6d6,
bord20: #bcbcbc,
bord60: #565656
);
$lightp: lighten(#9356dc, 30%);
$bord10: darken(#efefef, 10%);
$bord20: darken(#efefef, 20%);
$bord40: darken(#efefef, 40%);
$bord60: darken(#efefef, 60%);
$linear: -webkit-linear-gradient(#9356dc,#ff79da);
$linear2: -webkit-linear-gradient(30deg,#ff79d9, #9356dc 80%);
$linear3: -webkit-linear-gradient(#9356dc,#ff79da, #99e2d0);
//units
$units: 10px;
$pourcent: 10%;

//margin, padding
$margin: 15px;
//media queries
$breakpoints: 
(
  desktop: 768px
);