
//color
$colors: 
(
primary: #9356dc,
secondary: #ff79da,
tertiary: #99e2d0,
body: #000000,
footer: #ffffff,
bc: #efefef,
);
$bord10: darken(#efefef,10%);
$bord20: darken(#efefef, 20%);
$bord60: darken(#efefef, 60%);
$linear: -webkit-linear-gradient(#9356dc,#ff79da);
//fonts
$font-title: 'Shrikhand', arial, sans-serif;
$font-primary: 'Roboto', arial, sans-serif;

//units
$units: 10px;
$pourcent: 10%;

// width and média-queries
$width: 375px;

//margin, padding
$margin: 15px;


